<!--[fxLayout]="!(isHandset$ | async)? layout: 'column'"-->
<!--[class.align-items]="layout === 'row' && !(isHandset$ | async)"-->

<div fxLayout="column">
  <form [formGroup]="tripFomGroup" (ngSubmit)="_submit()" style="margin: auto">
    <div  style="flex-flow: wrap">
      <div fxLayout="row" >
        <mat-form-field appearance="outline">
          <mat-label>{{'Leaving from'| translate}}</mat-label>
          <mat-select formControlName="leavingFrom" (opened)="leavingFromCitiesOpened(); searchFieldOfStudy.focus()" required>
            <mat-option disabled>
              <input
                type="text"
                [formControl]="leavingFromCityFilter"
                #searchFieldOfStudy
                [placeholder]="'Search'| translate"
                style="
              color: black;
              width: 95%;
              padding: .5em;
            "/>
            </mat-option>
            <mat-option
              *ngFor="let city of leavingFromCity"
              [value]="city.node.id"
              [disabled]="city.node.id === tripFomGroup.value.destination"
              [hidden]="city.node.id === tripFomGroup.value.destination"
            >
              {{city.node.name}}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix color="accent">place</mat-icon>
          <mat-error *ngIf="tripFomGroup.controls['leavingFrom'].hasError('required')">
            {{'Leaving from city is required.'| translate}}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button type="button" style="margin-top: .5em" (click)="swapCities()">
          <mat-icon>compare_arrows</mat-icon>
        </button>
        <mat-form-field appearance="outline" >
          <mat-label>{{'Destination'| translate}}</mat-label>
          <mat-select formControlName="destination" required (opened)="destinationCitiesOpened(); searchFieldOfStudy.focus()">
            <mat-option disabled>
              <input
                type="text"
                [formControl]="destinationCityFilter"
                #searchFieldOfStudy
                [placeholder]="'Search'| translate"
                style="
                outline: none;
              color: black;
              width: 95%;
              padding: .5em;
            "/>
            </mat-option>

            <mat-option
              *ngFor="let city of destinationCity"
              [value]="city.node.id"
              [disabled]="city.node.id === tripFomGroup.value.leavingFrom"
              [hidden]="city.node.id === tripFomGroup.value.leavingFrom"
            >
              {{city.node.name}}
            </mat-option>
          </mat-select>
          <mat-icon matPrefix color="accent">place</mat-icon>
          <mat-error *ngIf="tripFomGroup.controls['destination'].hasError('required')">
            {{'Destination city is required.'| translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" style="justify-content: space-between">
        <mat-form-field appearance="outline">
          <mat-label>{{'Departure date'| translate}}</mat-label>
          <input matInput [min]="todayDate" required [matDatepicker]="departureDatePicker" formControlName="departureDate">
          <mat-datepicker-toggle matSuffix [for]="departureDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #departureDatePicker></mat-datepicker>
          <mat-error *ngIf="tripFomGroup.controls['departureDate'].hasError('required')">
            {{'Departure date is required.'| translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'Return date(optional)'| translate}}</mat-label>
          <input matInput [min]="todayDate" [matDatepicker]="returnDatePicker" formControlName="returnDate">
          <mat-datepicker-toggle matSuffix [for]="returnDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #returnDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" style="justify-content: space-around">
        <div *ngFor="let date of days">
          <button (click)="changeDepartureDate(date.date, $event)" class="weak-day-btn" mat-raised-button>
            <p class="weak-day-num">
              {{date.day}}
            </p>
            <p class="weak-day-name">
              {{date.dateNum}}
            </p>
          </button>
        </div>
      </div>
      <div fxLayout="row" style="justify-content: center" *ngIf="layout !== 'row'">
        <button mat-icon-button (click)="subtractPassenger()" type="button" >
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-button>{{passengers}} {{'Passengers'| translate}}</button>
        <button mat-icon-button (click)="addPassenger()" type="button" >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxLayout="row-reverse" *ngIf="layout !== 'row'">
        <button mat-flat-button type="submit" color="primary">{{'Search'| translate}}</button>
      </div>
    </div>
    <div fxLayout="row" style="justify-content: center" *ngIf="layout === 'row'">
      <button mat-icon-button (click)="subtractPassenger()" type="button" >
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-button>{{passengers}} {{'Passengers'| translate}}</button>
      <button mat-icon-button (click)="addPassenger()" type="button" >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </form>
</div>
