<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between" class="search-row">
    <div>
    </div>
    <mat-card class="search-card">
      <h1>{{'Search'| translate}}</h1>
      <app-trip-search-form (formSubmit)="search($event)"></app-trip-search-form>
    </mat-card>
  </div>
  <div fxLayout="column" class="home-row">
    <h1>{{'Routes'| translate}}</h1>
    <app-route-list (onSelect)="searchFromRoute($event)"></app-route-list>
  </div>
  <div fxLayout="column" class="home-row">
    <h1>{{'Carriers'| translate}}</h1>
    <app-carrier-list goto="/carrier"></app-carrier-list>
  </div>
</div>
