<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between" class="search-row">
    <div>
      <app-search-form></app-search-form>
    </div>
    <mat-card style="margin: 8% 5%; text-align: center; background: rgba(255, 255, 255, 0.5); backdrop-filter: blur(25px);">
      <h1>{{'Search'| translate}}</h1>
      <app-trip-search-form (formSubmit)="search($event)"></app-trip-search-form>
    </mat-card>
  </div>
  <div fxLayout="column" class="home-row">
    <h1>Routes</h1>
    <app-route-list (onSelect)="searchFromRoute($event)"></app-route-list>
  </div>
  <div fxLayout="column" class="home-row">
    <h1>Carriers</h1>
    <app-carrier-list></app-carrier-list>
  </div>
</div>
