.booked-message{
   text-align: center;
}
.search-row{
  background-image: url("/assets/home banner.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
h1{
  text-align: center;
}
