<form [formGroup]="busForm" (ngSubmit)="submit()" [class.loading]="loading">
  <div fxLayout="row" style="justify-content: space-evenly">
    <mat-form-field appearance="outline">
      <mat-label>{{'Bus number'| translate}}</mat-label>
      <input matInput type="text" formControlName="busNumber">
      <mat-error *ngIf="busForm.controls['busNumber'].hasError('required')">
        {{'Bus number is required.'| translate}}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{'Plate number'| translate}}</mat-label>
      <input matInput type="text" formControlName="plateNumber">
      <mat-error *ngIf="busForm.controls['plateNumber'].hasError('required')">
        {{'Bus plate number is required.'| translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="column" style="align-items: center">
    <mat-card
      *ngFor="let config of busSeatConfigurations$ | async"
      (click)="selectBusSeatConfiguration(config)"
      [style.border]="config == busSeatConfiguration? '2px solid green': 'none'"
      style="background: #efefef">
      <h3>{{config.node.name}}</h3>
      <app-bus-seat-configuration
        style="width: 400px"
        *ngFor="let config of busSeatConfigurations$ | async"
        [busSeatConfiguration]="config.node"></app-bus-seat-configuration>
    </mat-card>

  </div>
  <div fxLayout="row">
    <span class="spacer">
    </span>
    <button mat-flat-button color="primary" type="submit" [disabled]="busForm.invalid">{{'Submit'| translate}}</button>
  </div>
</form>
