<div
  class="flex-col"
  id="tender-list-col"
  infiniteScroll
  [infiniteScrollContainer]="'.sidenav-content'"
  [infiniteScrollDistance]="4"
  [infiniteScrollThrottle]="150"
  [fromRoot]="true"
  (scrolled)="onScroll()"
>

<div fxLayout="column" style="margin-top: 1.5em">
  <mat-card fxLayout="row" *ngFor="let trip of trips" (click)="onSelect(trip)" style="margin-bottom: 1em">
    <app-trip-list-item [trip]="trip.node" style="width: 100%; margin: auto">
      <div buttons fxLayout="row" class="tbuttons">
        <button mat-flat-button color="primary" routerLink="/booking/seat/{{trip.node.id}}">{{'Book ticket'| translate}}</button>
<!--        <button mat-flat-button color="primary" (click)="edit(trip)"><mat-icon>edit</mat-icon>{{'Edit trip'| translate}}</button>-->
<!--        <button mat-flat-button color="primary" (click)="cancel(trip)"><mat-icon>cancle</mat-icon>{{'Cancel trip'| translate}}</button>-->
<!--        <button mat-flat-button color="primary" (click)="changeDate(trip)"><mat-icon>time</mat-icon>{{'Change trip date'| translate}}</button>-->
      </div>
    </app-trip-list-item>
  </mat-card>
</div>

<div fxLayout="column" *ngIf="loading" style="margin-top: 1.5em">
  <mat-card fxLayout="row" *ngFor="let trip of [1, 2, 3, 4, 5, 6]" (click)="onSelect(trip)" style="margin-bottom: 1em">
    <app-trip-list-item [loading]="loading" style="width: 100%; margin: auto">
    </app-trip-list-item>
  </mat-card>
</div>

  <div *ngIf="trips.length === 0">
    <app-not-found [message]="'No Trip Found'"></app-not-found>
  </div>
</div>

