<div fxLayout="column" style="margin-top: 1.5em">
  <mat-card fxLayout="row" *ngFor="let trip of trips$ | async" (click)="onSelect(trip)" style="margin-bottom: 1em">
    <app-trip-list-item [trip]="trip.node" style="width: 100%; margin: auto">
      <div buttons>
        <button mat-flat-button color="primary" routerLink="/booking/seat/{{trip.node.id}}">{{'Book ticket'| translate}}</button>
      </div>
    </app-trip-list-item>
  </mat-card>
</div>

<div fxLayout="column" *ngIf="loading" style="margin-top: 1.5em">
  <mat-card fxLayout="row" *ngFor="let trip of [1, 2, 3, 4, 5, 6]" (click)="onSelect(trip)" style="margin-bottom: 1em">
    <app-trip-list-item [loading]="loading" style="width: 100%; margin: auto">
    </app-trip-list-item>
  </mat-card>
</div>

