<div fxLayout="row" style="justify-content: center">
  <mat-card fxLayout="column" style="padding: 2em; margin: 0 1em" *ngFor="let carrier of carriers$ | async">
    <app-carrier-tumb [carrier]="carrier.node" (click)="onCarrierClick(carrier)"></app-carrier-tumb>
  </mat-card>
</div>

<div *ngIf="loading" fxLayout="row" style="justify-content: center; margin-top: 2em;">
  <div fxLayout="row">
    <mat-card fxLayout="column" style="padding: 1em 2em; margin: 0 1em" *ngFor="let carrier of [1, 2, 3, 4, 5]">
      <app-carrier-tumb [loading]="loading"></app-carrier-tumb>
    </mat-card>
  </div>
</div>

