<div fxLayout="column">
  <div fxLayout="row" style="justify-content: center">
    <h1>{{carrier?.name}}</h1>
    <app-custom-shimmer width="100" height="32" *ngIf="!carrier?.name"></app-custom-shimmer>
  </div>
  <div fxLayout="row wrap" style="justify-content: space-around;">
    <app-main-stat></app-main-stat>
    <app-main-stat></app-main-stat>
    <app-main-stat></app-main-stat>
    <app-main-stat></app-main-stat>
  </div>
  <div fxLayout="row" style="justify-content: space-between">
    <mat-card style="flex: 2"><app-main-dashboard-chart></app-main-dashboard-chart></mat-card>
    <div style="flex: 1">
      <app-trips-table></app-trips-table>
    </div>

  </div>
</div>
