<div fxLayout="column">
  <div fxLayout="row">
    <img src="assets/images/bus_banner.jpg" style="width: 100%; border-radius: 25px"/>
  </div>
  <div fxLayout="row" style="margin-top: 2em; justify-content: space-between">
    <div fxLayout="column">
      <app-carrier-tumb [carrier]="carrier" size="large"></app-carrier-tumb>
      <div></div>
    </div>
    <button mat-stroked-button routerLink="/carrier/dashboard/{{carrier?.id}}"><mat-icon>dashboard</mat-icon> Dashboard</button>
  </div>
  <div fxLayout="column">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Home"></mat-tab>
      <mat-tab label="Trips">
        <ng-template matTabContent>
          <app-trip-list [carrier]="carrier?.id"></app-trip-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
