<!--<div *ngFor="columns">-->
<!--  <app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>-->
<!--</div>-->
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
<app-custom-shimmer [height]="height" [width]="width"></app-custom-shimmer>
