<form [formGroup]="routeFromGroup" [class.loading]="loading">
  <div [fxLayout]="(orientation=='horizontal')?'row': 'column'">
    <mat-form-field appearance="outline">
      <mat-label>{{'Leaving from'| translate}}</mat-label>
      <mat-select formControlName="leavingFrom" (opened)="leavingFromCitiesOpened(); searchFieldOfStudy.focus()"
                  required>
        <mat-option disabled>
          <input
            type="text"
            [formControl]="leavingFromCityFilter"
            #searchFieldOfStudy
            [placeholder]="'Search'| translate"
            style="
              color: black;
              width: 95%;
              padding: .5em;
            "/>
        </mat-option>
        <mat-option
          *ngFor="let city of leavingFromCity"
          [value]="city.node.id"
          [disabled]="city.node.id === routeFromGroup.value.destination"
          [hidden]="city.node.id === routeFromGroup.value.destination"
        >
          {{city.node.name}}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix color="accent">place</mat-icon>
      <mat-error *ngIf="routeFromGroup.controls['leavingFrom'].hasError('required')">
        {{'Leaving from city is required.'| translate}}
      </mat-error>
    </mat-form-field>
    <button mat-icon-button type="button" class="exchange-horizontal" (click)="swapCities()" *ngIf="orientation=='horizontal'">
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <div fxLayout="row-reverse" *ngIf="orientation=='vertical'">
      <button mat-icon-button type="button" class="exchange-vertical mat-elevation-z1" (click)="swapCities()">
        <mat-icon>import_export</mat-icon>
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>{{'Destination'| translate}}</mat-label>
      <mat-select formControlName="destination" required
                  (opened)="destinationCitiesOpened(); searchFieldOfStudy.focus()">
        <mat-option disabled>
          <input
            type="text"
            [formControl]="destinationCityFilter"
            #searchFieldOfStudy
            [placeholder]="'Search'| translate"
            style="
                outline: none;
              color: black;
              width: 95%;
              padding: .5em;
            "/>
        </mat-option>

        <mat-option
          *ngFor="let city of destinationCity"
          [value]="city.node.id"
          [disabled]="city.node.id === routeFromGroup.value.leavingFrom"
          [hidden]="city.node.id === routeFromGroup.value.leavingFrom"
        >
          {{city.node.name}}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix color="accent">place</mat-icon>
      <mat-error *ngIf="routeFromGroup.controls['destination'].hasError('required')">
        {{'Destination city is required.'| translate}}
      </mat-error>
    </mat-form-field>
  </div>
</form>

