<div fxLayout="column">
  <form [formGroup]="filterFormGroup" (ngSubmit)="submit()" style="margin: auto;" [class.loading]="loading">
    <div style="flex-flow: wrap">
      <div fxLayout="row" style="place-content: space-between;">
        <app-select-route (routeChanged)="routeChanged($event)"></app-select-route>
      </div>
      <div fxLayout="row" style="justify-content: space-between">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="startDate" [placeholder]="'Start date' | translate">
            <input matEndDate formControlName="endDate" [placeholder]="'End date'| translate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>{{'Boarding '| translate}}</mat-label>-->
<!--          <mat-select formControlName="boardingFrom" (opened)="leavingFromCitiesOpened(); searchFieldOfStudy.focus()">-->
<!--            <mat-option disabled>-->
<!--              <input-->
<!--                type="text"-->
<!--                [formControl]="boardingFrom"-->
<!--                #searchFieldOfStudy-->
<!--                [placeholder]="'Search'| translate"-->
<!--                style="-->
<!--              color: black;-->
<!--              width: 95%;-->
<!--              padding: .5em;-->
<!--            "/>-->
<!--            </mat-option>-->
<!--            <mat-option-->
<!--              *ngFor="let city of leavingFromCity"-->
<!--              [value]="city.node.id"-->
<!--              [disabled]="city.node.id === filterFormGroup.value.destination"-->
<!--              [hidden]="city.node.id === filterFormGroup.value.destination"-->
<!--            >-->
<!--              {{city.node.name}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--          <mat-icon matPrefix color="accent">place</mat-icon>-->
<!--        </mat-form-field>-->
      </div>
      <div fxLayout="row" style="justify-content: space-between">
        <mat-checkbox formControlName="isBooked">Booked</mat-checkbox>
<!--        <mat-checkbox formControlName="isBooked">Unpaid</mat-checkbox>-->
        <mat-checkbox formControlName="isPaid" >Paid</mat-checkbox>
      </div>
    </div>
  </form>
</div>
