<mat-list>
  <mat-list-item routerLink="ticket-offices">
    <mat-icon matListIcon>people</mat-icon>
    <h3 matLine>Tickets</h3>
<!--    <p matLine>-->
<!--      <span> {{message.subject}} </span>-->
<!--      <span class="demo-2"> &#45;&#45; {{message.content}} </span>-->
<!--    </p>-->
    <mat-icon>open_in_new</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Tickets</h3>
    <!--    <p matLine>-->
    <!--      <span> {{message.subject}} </span>-->
    <!--      <span class="demo-2"> &#45;&#45; {{message.content}} </span>-->
    <!--    </p>-->
    <mat-icon>open_in_new</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Tickets</h3>
    <!--    <p matLine>-->
    <!--      <span> {{message.subject}} </span>-->
    <!--      <span class="demo-2"> &#45;&#45; {{message.content}} </span>-->
    <!--    </p>-->
    <mat-icon>open_in_new</mat-icon>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Tickets</h3>
    <!--    <p matLine>-->
    <!--      <span> {{message.subject}} </span>-->
    <!--      <span class="demo-2"> &#45;&#45; {{message.content}} </span>-->
    <!--    </p>-->
    <mat-icon>open_in_new</mat-icon>
  </mat-list-item>

</mat-list>
