<div fxLayout="row" *ngIf="loading" style="justify-content: right; align-items: center;">
  <app-custom-shimmer [width]="30" [height]="30" [circle]="true"></app-custom-shimmer>
  <app-custom-shimmer [width]="80" [height]="16" style="margin-left: 1.2em"></app-custom-shimmer>
</div>
<div fxLayout="row" *ngIf="!loading" style="justify-content: right; align-items: center;">
  <img
    src="assets/carrier.svg"
    alt="carrier logo"
    [class.small-img]="size=='small'"
    [class.large-img]="size=='large'"
  />
  <h3 *ngIf="size=='small'" style="margin-left: 1.2em"><b>{{carrier.name}}</b></h3>
  <h1 *ngIf="size=='large'" style="margin-left: 1.2em" class="large">{{carrier.name}}</h1>
</div>

<!--<div fxLayout="column">-->
<!--  <app-custom-shimmer width="70" height="70" [style]="'margin-bottom: 1em;'"></app-custom-shimmer>-->
<!--  <app-custom-shimmer width="70" height="20"></app-custom-shimmer>-->
<!--</div>-->

