<div fxLayout="column">
  <h1>Change trip date</h1>
  <h2></h2>
  <form [formGroup]="changeTimeFormGroup" (ngSubmit)="onSubmit()" [class.loading]="loading">
    <div fxLayout="row">
      <mat-form-field appearance="outline" fxFill>
        <mat-label>{{'Departure time'| translate}}</mat-label>
        <input matInput type="datetime-local"  formControlName="departureDatetime">
        <mat-error *ngIf="changeTimeFormGroup.controls['departureDatetime'].hasError('required')">
          {{'Departure date is required.'| translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline" fxFill>
        <mat-label>{{'Arrival time'| translate}}</mat-label>
        <input matInput type="datetime-local"  formControlName="arrivalDatetime">
        <mat-error *ngIf="changeTimeFormGroup.controls['arrivalDatetime'].hasError('required')">
          {{'Departure date is required.'| translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <span class="spacer"></span>
      <button mat-flat-button color="primary" type="submit">{{'Submit'| translate}}</button>
    </div>
  </form>
</div>
