<div fxLayout="column">
  <div fxLayout="row" style="margin-top: 1em; justify-content: space-around ">
    <mat-card style="justify-content: center; align-items: center" *ngIf="!loading">
      <app-bus-tumb *ngIf="trip?.bus !== null" [row]="false" [bus]="trip.bus"></app-bus-tumb>

      <div *ngIf="!trip?.bus" fxLayout="column" style="align-items: center">
        <img src="/assets/bus.svg" alt="" style="width: 80px">
        <div fxLayout="column" style="margin-left: 2.5em;">
          <b>{{'No bus is assigned.'| translate}}</b>
        </div>
      </div>
      <button mat-flat-button color="primary" (click)="addBus()" style="margin: auto; margin-top: 1em">
        <span *ngIf="!trip?.bus">{{'Add bus'| translate}}</span>
        <span *ngIf="trip?.bus">{{'Change bus'| translate}}</span>
      </button>
    </mat-card>
    <mat-card>
      <app-trip-datetime [trip]="trip"></app-trip-datetime>
    </mat-card>
  </div>
  <div fxLayout="row" style="margin-top: 2em; justify-content: space-around">
    <mat-card *ngIf="trip?.busSeatConfiguration !== null">
      <h1>{{trip?.busSeatConfiguration.name}}</h1>
      <app-bus-seat-configuration [busSeatConfiguration]="trip?.busSeatConfiguration"></app-bus-seat-configuration>
    </mat-card>
  </div>

  <div class="ticket">
    <h1 style="text-align: center;font-size:2em;">Trip Ticket</h1>
    <app-tickets-table [fileName]="fileName" *ngIf="trip" [tripId]="trip.id"></app-tickets-table>
  </div>

<div fxLayout="row" style="justify-content: center">
  <button mat-flat-button color="primary" (click)="edit(trip.id)"><mat-icon>edit</mat-icon>{{'Edit trip'| translate}}</button>
  <button mat-flat-button color="primary" (click)="cancel(trip.id)"><mat-icon>cancel</mat-icon>{{'Cancel trip'| translate}}</button>
</div>
</div>
