<div fxLayout="row"  class="ticket-card" style="max-width: 1000px; justify-content: space-evenly; margin:auto; background-color:rgb(206 206 206);">
  <div fxLayout="column" class="personal-info" style="width: 25%">
    <img src="/assets/yenabus.png" style="width: 60px;align-self: center; padding-top: 1rem; padding-bottom: 0.3rem"  alt=""/>
    <mat-card-title style="font-size: 1.2em; font-weight:700; text-align: center; ">Muluken Bogale</mat-card-title>
    <mat-card-title style="font-size: 1.1em; font-weight:400; text-align: center;">+25198608896</mat-card-title>
  </div>
  <mat-divider  class="mat-divider" vertical = true ></mat-divider>
  <div fxLayout="column" style="margin-left: 1em">
    <div fxLayout="row">
      <img src="/assets/yenabus.png" style="width: 40px;align-self: center; padding-top: 0.3rem; padding-right: 0.5rem"  alt=""/>
      <mat-card-title style="font-size: 1.2em; font-weight:700; padding-top: 0.3rem; align-self: center; text-align: center; ">Abay Bus</mat-card-title>
    </div>
    <div fxLayout="row" style="align-items: center">
      <div fxLayout="column" class="time-city-container">
        <span class="mat-card-subtitle" style="align-self: center">Addis Ababa</span>
        <span class="time">3:20pm</span>
        <span style="align-self: center">Monday, September 13, 2021</span>
      </div>
      <span class="duration" style="color: lightblue">4h3m</span>
      <div fxLayout="column" class="time-city-container">
        <span class="mat-card-subtitle" style="align-self: center">Jima</span>
        <span class="time">3:20pm</span>
        <span style="align-self: center">Monday, September 13, 2021</span>
      </div>
    </div>

  </div>
  <div fxLayout="column">
    <div fxLayout="row">
      <button mat-icon-button>
        <img src="/assets/seat.svg" width="60%" alt="">
      </button>
      <h2>5</h2>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div fxLayout="row">
      <button mat-flat-button color="primary">Pay Now!</button>
    </div>
  </div>
</div>
