@import url('https://fonts.googleapis.com/css2?family=Engagement&display=swap');

.logo{
  font-family: 'Engagement', cursive;
  font-size: 1.5em;
}
.nav-list{
  li{
    margin: 0em .5em;
  }
}
.select{
  font-size: 0.7em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
