<div fxLayout="column">
<h1>Bank List</h1>
  <div style="align-self: flex-end">
    <button mat-flat-button color="primary" (click)="payLater()" style="margin: 16px">Pay Later</button>
  </div>
<mat-grid-list *ngIf="!loading" [cols]="breakpoint" [rowHeight]="'140px'"  (window:resize)="onResize($event)" >
  <ng-container *ngFor="let bank of bankAccounts">
    <mat-grid-tile>
      <app-bank-card [orderId]="orderId" [bank]="bank.node"></app-bank-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

<mat-grid-list *ngIf="loading" [cols]="breakpoint" [rowHeight]="'140px'"  (window:resize)="onResize($event)" >
  <ng-container *ngFor="let bank of [1,2,3,4,5,6,7,8,9]">
    <mat-grid-tile>
      <app-bank-card [loading]="loading" [orderId]="orderId" [bank]="bank.node"></app-bank-card>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>

</div>
