<div fxLayout="column" *ngIf="!loadingSeatConf">
  <table style="width: 100%">
    <tr *ngIf="orientation === 'column'">
      <td [style.width]="100/col.length + '%'">
        <div style="display: flex; justify-content: space-around">
          <img src="/assets/wheel.svg" style="width: 3em;">
        </div>
      </td>
    </tr>
    <tr *ngFor="let r of (orientation === 'row')? row: col" style="width: 100%">
      <td *ngIf="orientation == 'row' && r !== row.length-1" [style.width]="100/col.length + '%'">
      </td>
      <td *ngIf="orientation == 'row' && r !== row.length-1" [style.padding-left]="'.8em'">
      </td>
      <td [style.width]="100/col.length+ '%'" *ngIf="orientation === 'row' && r === row.length-1"
          style="margin-right: 1.5em">
        <img src="/assets/wheel.svg" style="width: 3em;">
      </td>
      <td [style.padding-left]="'.8em'" *ngIf="orientation === 'row' && r === row.length-1" style="margin-right: 2em">
      </td>
      <td *ngFor="let c of (orientation === 'row')? col: row" [style.width]="100/col.length + '%'"
          (click)="selectSeat(seat(r, c)?.seat)"
      >
        <div class="flex-col" *ngIf="seat(r, c)" style="cursor: pointer">
          <app-seat
            [name]="seat(r, c)?.seat.busSeatConfigurationSeat.name"
            [state]="seat(r, c).style"
            [loading]="loading.indexOf(seat(r,c)?.seat.busSeatConfigurationSeat.id) > -1"
          ></app-seat>
        </div>
      </td>
    </tr>
  </table>
</div>
<div [fxLayout]="(orientation === 'column')?'column': 'row'" *ngIf="loadingSeatConf">
  <div style="display: flex; justify-content: flex-start; flex: 1">
    <img src="/assets/wheel.svg" style="width: 3em;height: 3em;
    align-self: flex-end;margin-bottom: 1em">
  </div>
  <table style="width: 100%; flex: 10">
    <tr *ngFor="let r of range(0, (orientation !== 'column')?5: 12)">
      <td *ngFor="let c of range(0, (orientation !== 'column')?12:5)">
        <div *ngIf="(orientation !== 'column')">
          <app-custom-shimmer
            *ngIf="r != 2 || c == 11"
            width="36"
            height="36"></app-custom-shimmer>
        </div>
        <div *ngIf="(orientation === 'column')">
          <app-custom-shimmer
            *ngIf="c != 2 || r == 11"
            width="36"
            height="36"></app-custom-shimmer>
        </div>
      </td>
    </tr>
  </table>
</div>
