<div class="flex" id="about-us-container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="About Guzo">
      <div class="flat-card">
        <div class="flax">

          <h1 style="text-align: center">Who We Are</h1>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We are a leading online travel company in Ethiopia providing a 'best in class'
            customer experience with the goal to be 'Ethiopia's Travel Planner'. Through our website, www.guzo.et, our
            mobile applications and our other associated platforms, leisure and business travelers can explore,
            research, compare prices and book a wide range of services catering to their travel needs. GUZO plans to
            provide comprehensive travel-related services, which include domestic and international air ticketing, hotel
            bookings, homestays, holiday packages, bus ticketing, rail ticketing, activities and ancillary
            services. </p>
          <p>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; A strong and "trusted" travel brand of Ethiopia, our
            strengths include a large and loyal customer base, a multi-channel platform for leisure and business
            travelers, a robust mobile eco-system for a spectrum of travelers and suppliers, a strong technology
            platform designed to deliver a high level of scalability and innovation and a seasoned senior management
            team comprising of industry executives with deep roots in the travel industry in India and abroad.</p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"GUZO", which means "Journey" in Amharic, is one of
            Ethiopia's most well-recognized and technology divine brands. We are dedicated to ensuring a superior user
            experience on our platform and a critical component of that is customer service. We provide customer support
            at all stages of our customer's journey – before, during and after. Our customer "touch-points" include our
            website, mobile platforms, retail stores, call centers, a wide network of agents across Ethiopia addressing
            the needs of a large fragmented market of travel agents across the country.
          </p>
        </div>

        <h2>Vision</h2>
        <p>GUZO, we are committed to offering an informative, user-friendly website and mobile APP with the best rates
          guaranteed. Our goal is to provide business and leisure travelers worldwide with a pleasant, efficient and
          cost-effective way to book bus tickets, flights and hotel accommodations.</p>
        <p>At GUZO, our vision is to make travel simple and fun for all, and our core values guide us in making this
          possible. These core values can be seen in the projects that we undertake, and the way in which we solve
          problems for our customers. </p>

        <h2>Mission</h2>
        <p>Our mission is to provide customers a one stop shop for all their travel needs. We aim to give the best
          possible user experience across their entire travel journey, which includes effective planning resources,
          superior booking experience across all channels and in journey 24x7 live customer support.</p>
      </div>
    </mat-tab>

    <mat-tab label="Contact US">
      <mat-card>
        <div class="flax">
          <h3><b>Contact information: Guzo.et</b></h3>
          <ul style="list-style: none;">
            <li>Customer Service:
              <ul style="list-style-type: none;margin-bottom:1em">
                <li><i class="fas fa-phone-square-alt" style="color:black"></i>&nbsp;&nbsp;0116151011</li>
                <li><i class="fas fa-phone-square-alt" style="color:black"> </i>&nbsp;&nbsp;0116151010</li>
                <li><i class="fas fa-phone-square-alt" style="color:black"> </i>&nbsp;&nbsp;0983252525</li>
                <li><i class="fas fa-phone-square-alt" style="color:black"> </i>&nbsp;&nbsp;0944499999</li>
                <li><i class="fas fa-map-marker-alt" style="color:black"> </i>&nbsp;&nbsp;Airport Road ,Friendship
                  Business center ,1st Floor ,Office No.105
                </li>
              </ul>
            </li>
            <li><a href=""><i class="fab fa-whatsapp"></i></a> <a href="">
              <i class="fab fa-telegram"></i></a><a href=""><i class="fab fa-instagram"></i></a><a href="">
              <i class="fab fa-facebook"></i></a><a href=""> <i class="fab fa-twitter"></i></a>
              <i class="fas fa-envelope" style="font-size: 2em;margin-left: 6px"></i> info@guzo.et
          </ul>
        </div>
        <br>
        <div class="flex">

          <!--          <agm-map [latitude]="+lat" [longitude]="+lng" >-->
          <!--            <agm-marker [latitude]="+lat" [longitude]="+lng"></agm-marker>-->
          <!--          </agm-map>-->
          <!--
          color social media icon
          about Serdo box model-->

          <!--          <agm-map style="height: 350px;width: 100%"-->
          <!--                   [latitude]="3.0"-->
          <!--                quikr.com qefira.com dubizzle.com   [longitude]="1.5">-->

          <!--            <agm-marker [latitude]="1.8" [longitude]="1.8">-->
          <!--            </agm-marker>-->
          <!--            &lt;!&ndash;          <agm-marker [latitude]="location.lat"&ndash;&gt;-->
          <!--            &lt;!&ndash;                      [longitude]="location.lng">&ndash;&gt;-->
          <!--            &lt;!&ndash;          </agm-marker>&ndash;&gt;-->
          <!--          </agm-map>-->
        </div>
        <!--safety tips, Serdo , phone number,about Serdo,icons,what are our products font house-->
        <div class="flax flat-card" style="text-align: center;">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput
                   placeholder=""
                   required
                   size="50"
                   type="text">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>

            <input matInput
                   placeholder=""
                   required
                   type="email">

          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>

            <textarea matInput></textarea>

          </mat-form-field>
          <br>
          <button mat-raised-button> submit</button>
          <br></div>
        <br>
        <br>
        <br>

      </mat-card>
    </mat-tab>
    <mat-tab label="Term & Condition">
      <mat-card>


        <div class="flax flat-card">
          <h1 style="text-align: center;">Privacy policy</h1>
          <br>
          <p> &nbsp;&nbsp;By visiting guzo.et platforms ("Website, Mobile site and Mobile Apps"),you are accepting and
            consenting to the practices described in this Privacy policy (as defined here in after). This document
            describes the privacy policy ("Privacy Notice") of  Serdo technologies plc/guzo.et/ ("GUZO" or "we" or "us"
            or "our")and is designed to explain guest users or registered users of the Website and Mobile
            Apps including(without limitation) buyers of bus tickets, customers who are using our hotel booking
            facility, bus partners, bus ticket booking agents, intermediaries who sell services on the Website, Mobile
            site and Mobile Apps, other users/visitors of the Website, Mobile site and Mobile Apps ("you" or "your" or
            "yourself “or "user") what data/information we collect, why we collect it, and what we do with it. Your use
            of and access to the Website, Mobile site and Mobile Apps and the services provided through (i) the Website,
            Mobile site and Mobile Apps and (ii) mobile site, mobile app and other offline channels including call
            centers and offices ("Other Interfaces") are inter alia subject to this Privacy Notice and our Terms and
            Conditions. Any capitalized term used but not defined in this Privacy Notice shall have the meaning
            attributed to it in our Terms and Conditions.</p>
          <p> &nbsp;&nbsp;This Privacy Notice is applicable all persons including persons/entities who purchase, intend
            to purchase or inquire about any product(s) or service(s) made available by GUZO through the Website, Mobile
            site and Mobile Apps and Other Interfaces (collectively "Services"). If you disagree with any provision
            contained in this Privacy Notice, then please do not (i) use or access the Website,Mobile site and Mobile
            Apps or Other Interfaces or (ii) avail any of the Services. By using or accessing the Website, Mobile site
            and Mobile Apps or Other Interfaces, the User hereby agrees with the Privacy Policy in its entirety and the
            contents here in.</p>
          <h2 style="text-align: center">Information You provide to us and its use and sharing</h2>
          <p>
            &nbsp; We receive and store any information you enter on our Website and Mobile Apps or give us in any other way. In general, you can browse the Website and Mobile Apps without telling us who you are or revealing any personal information about you. Once you give us your personal information, you are not anonymous to us.
            <br>
          <br>
          <p>
            &nbsp;&nbsp;We collect personally identifiable information (email address, other addresses, name, phone number, gender, travel preferences, travel plan, accommodation details, hotel bookings/preferences, telephone (mobile or otherwise) and/or fax numbers etc.) from you when you register and create an account with us, and that you provide to us from time to time. The information may also include information such as your banking details (including credit/debit card) and any other information relating to your income and/or lifestyle; billing information, payment history etc. (as shared by you).
          </p>


          </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Tips">
      <mat-card>
        <h2>Tips</h2>
        <h3>Look out for:</h3>

        <h3>Never:</h3>

        <h3>Communication:</h3>

        <h3>Never:</h3>

      </mat-card>
    </mat-tab>

    <mat-tab label="Help center">
      <mat-card>


        <h1>FAQ</h1>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-panel-title>

            </mat-panel-title>
            signing up on Serdo is now a very simple process. It takes only 1 minutes to
            sign up and post your Ads
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                1 &nbsp;&nbsp; How do I sign up on Guzo?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p> &nbsp; &nbsp;signing up on Serdo is now a very simple process. It takes only 1 minutes to
              sign up and post your Ads</p> <br>
            <strong> Step 1: </strong>Click “Post Ad” tab in the top corner of the website <br>
            <strong> Step 2:</strong> Please select your Sign Up option You can enter your details correctly <br>
            <img height="200px" src="../../../../assets/images/signUp.png" width="200px"/><br>
            <!--      <ul>-->
            <!--        <li><input placeholder="name" matInput apperance="outline"></li>-->
            <!--        <li> <input placeholder="phone number" matInput></li>-->
            <!--        <li><input placeholder="password" matInput ><input placeholder="confirm password" matInput></li>-->
            <!--      </ul>-->
            <strong> Step 3:</strong>Once you submit the above information, you will be directed to Mobile verification
            page.

            <p>Once the verification is done through, you become a registered user of the site and can post Ads and
              manage
              your Ads.</p>
            <p>Once signed up you can now use your credentials to sign up by entering you phone number as Serdo referral
              to collect credits from Serdo.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <br>
        <br>

      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div>







