<div class="flex" id="about-us-container">
  <mat-tab-group xmlns:size="http://www.w3.org/1999/xhtml" mat-align-tabs="center">
    <mat-tab label="About Serdo">
      <div class="flat-card">
        <div class="flax">

          <h1 style="text-align: center">Who We Are</h1>
          <p>
            <b><i style="color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Serdo.com</i> </b> is a trusted, reliable and cost-effective classified site for the widest
            range of quality product and services.Serdo.com is all about you- our aim is to empower every person in the
            country to independently connect with buyers and sellers online.</p>
          <p>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Serdo.com</em> has become the number one platform for users to buy, sell,
            or find anything in their community. We don’t sell products directly, but offer an
            advertising platform for users to buy and sell their products/services. we are not involved in the actual
            transactions and we won’t take any commission from the transaction. Serdo solely sells advertising spaces and
            does not take a commission of the user's earning.</p>
          <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A community where underused goods are redistributed to fill a new need, and become wanted again, where
            non- product assets such as space, skills and money are exchanged and traded in new ways that don’t always
            require centralized institutions or ‘middlemen’.
          </p>
        </div>
        <h2>Advert with Us</h2>
        <p>Advertise your product, services on Ethiopia largest online classifieds by posting your products, services,
          jobs and tenders or registering your business with us.</p>
        <p>You can now advertise directly using our easy to use advertising platform- Grow your business using Serdo's
          easy to use self-service advertising tool - all within a budget that works for you</p>
        <h2>
          How Serdo can advertising your business?</h2>
        <div class="box">
          <mat-card class="box2" style="text-align: center">
            <strong>Build brand awareness</strong><br>
            <i class="fab fa-connectdevelop" style="font-size:4em"></i> <br>
            Create awareness and generate interest on Ethiopia's largest marketplace</mat-card>
          <mat-card class="box3" style="text-align: center"><strong>Drive performance</strong><br>
            <i class="fab fa-searchengin" style="font-size:4em"></i><br>
            Engage with the largest in-market audience and generate high quality leads
          </mat-card>
          <mat-card class="box4" style="text-align: center"><strong>Serdo partner program</strong><br>
            <i class="far fa-handshake" style="font-size:4em"></i><br>
            Gain superior insights and market intelligence - available only for our exclusive partners
          </mat-card>
          <mat-card class="box5" style="text-align: center">
            <strong>Easily Scale and Grow</strong><br>
            <i class="fas fa-seedling" style="font-size:4em"></i><br>
            Serdo is online platform that you can easily optimize and scale your budget
            <br>
          </mat-card>
        </div>
        <br>

        <br>
        <br>
        <br>
        <div>
          <br>
          <br>
          <h2>
            Why to use Serdo.com</h2>
          <p>
            <b> Easy to use - </b>Serdo.com has been made keeping you in mind. You can access
            the information faster through category browsing & easy search.</p>
          <p><b>Quick response - </b>We provide a robust platform for the advertisers to
            showcase their offers & receive quick response. The ads are clearly visible across the website
            which gives it maximum visibility to the users. As an advertiser, you may also use the features that
            lets you stay on top and continue to reach out to maximum users.
          </p>
          <p><b>Aesthetic Design - </b>Serdo.com is easy to understand and its clear layout assists the users in reaching
            the most relevant page. The layout and colors are vibrant and pleasant to work around.</p>
          <b>Provide free Ad, features and large categories<br>
            Target audiences who have high purchase intent on our platform.<br>
            Ad promotions on best rate</b>
          <br>
          <br>
          <br>
          <br>
          <br></div>
      </div>
    </mat-tab>
    <mat-tab label="Contact US">
      <mat-card>
        <div class="flax">

          <h3><b>Contact information: Serdo.com</b></h3>
          <ul style="list-style: none;">
            <li>Customer Service:
              <ul style="list-style-type: none;margin-bottom:1em"><li><i class="fas fa-phone-square-alt" style="color:black"></i>&nbsp;&nbsp;0116151011</li>
                <li><i class="fas fa-phone-square-alt" style="color:black"> </i>&nbsp;&nbsp;0116151010</li>
                <li><i class="fas fa-phone-square-alt" style="color:black"> </i>&nbsp;&nbsp;0983252525</li>
                <li><i class="fas fa-phone-square-alt" style="color:black"> </i>&nbsp;&nbsp;0944499999</li>
                <li><i class="fas fa-map-marker-alt" style="color:black"> </i>&nbsp;&nbsp;Airport Road ,Friendship Business center ,1st Floor ,Office No.105</li></ul></li>
            <li><a href=""><i class="fab fa-whatsapp"></i></a> <a href="">
              <i class="fab fa-telegram"></i></a><a href=""><i class="fab fa-instagram"></i></a><a href="">
              <i class="fab fa-facebook"></i></a><a href=""> <i class="fab fa-twitter"></i></a>
              <i class="fas fa-envelope" style="font-size: 2em;margin-left: 6px"></i> info@Serdo.com
          </ul></div>
        <br>
        <div class="flex">

          <agm-map [latitude]="+lat" [longitude]="+lng" >
            <agm-marker [latitude]="+lat" [longitude]="+lng"></agm-marker>
          </agm-map>
          <!--
          color social media icon
          about Serdo box model-->

          <!--          <agm-map style="height: 350px;width: 100%"-->
          <!--                   [latitude]="3.0"-->
          <!--                quikr.com qefira.com dubizzle.com   [longitude]="1.5">-->

          <!--            <agm-marker [latitude]="1.8" [longitude]="1.8">-->
          <!--            </agm-marker>-->
          <!--            &lt;!&ndash;          <agm-marker [latitude]="location.lat"&ndash;&gt;-->
          <!--            &lt;!&ndash;                      [longitude]="location.lng">&ndash;&gt;-->
          <!--            &lt;!&ndash;          </agm-marker>&ndash;&gt;-->
          <!--          </agm-map>-->
        </div>
        <!--safety tips, Serdo , phone number,about Serdo,icons,what are our products font house-->
        <div class="flax flat-card" style="text-align: center;" >
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input size="50"
                   matInput
                   type="text"
                   required
                   placeholder="">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>

            <input matInput
                   type="email"
                   required
                   placeholder="">

          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>

            <textarea matInput></textarea>

          </mat-form-field>
          <br>
          <button mat-raised-button> submit</button>
          <br></div>
        <br>
        <br>
        <br>

      </mat-card>
    </mat-tab>
    <mat-tab label="Term & Condition">
      <mat-card>


        <div class="flax flat-card">
          <h1 style="text-align: center;">Privacy policy</h1>
          <br>
          <p> &nbsp;&nbsp;The Website and the Service are provided to you subject to these Terms of Service (these "Terms").
            By accessing the Website or using the Service, you agree that you have read, understood and agree to be bound
            by these Terms.
            For the purpose of the Terms and wherever the context so requires, the terms 'you' and “your” shall mean any
            person who uses
            the Website or the Service in any manner whatsoever including persons browsing the Website and its content,
            posting comments or
            any content or responding to any advertisements or content on the Website.
            By using www.Serdo.com, you agree to be bound by these Terms and Conditions ("Terms"). You also agree to
            Serdo's Privacy
            Policy and accept cookies from this site.
            Serdo may update the Terms from time to time so please review the relevant pages regularly. Should you object
            to any term or
            condition, guideline, or subsequent changes made to www.Serdo.com then we recommend the immediate disuse of
            Serdo.</p>
          <h2 style="text-align: center">Types of Data collected</h2>
          <p>
            &nbsp; When visiting our web site, the site server makes a record of the visit and logs the following information for
            statistical and administrative purposes:
            <br>
          <ul>
            <li>the user's server address</li>

            <li>the date and time of the visit to the site</li>

            <li>pages accessed and documents downloaded</li>

            <li>duration of the visit</li>
            <li>the type of browser used</li>
            <li>the previous site visited</li>
            <li>users location</li>
          </ul>
          <br>
          <p>
            &nbsp;&nbsp;Among the types of Personal Data that our websites collect, by themselves or through third parties, there are:
            Cookies, Usage Data, email address and various other types of Data.
            Complete details on each type of Personal Data collected are provided in the dedicated sections of this
            privacy policy or by specific explanation texts displayed prior to the Data collection. Personal Data may be
            freely provided by the User, or, in case of Usage Data, collected automatically when using our websites.
            Unless specified otherwise, all Data requested by our websites is mandatory and failure to provide this Data
            may make it impossible for our websites to provide their services. In cases where our websites specifically
            state that some Data is not mandatory, Users are free not to communicate this Data without consequences to the
            availability or the functioning of the Service.
          </p>
          <h2 style="text-align: center">Term of Using Serdo.com</h2>
          As a condition of your use of Serdo you agree that you will not:
          <br>
          <ul>
            <li> violate any laws;</li>
            <li>violate the Posting Rules;</li>
            <li>&nbsp;&nbsp;host, display, upload, modify, publish, transmit, update or
              share any information that is defamatory, obscene, pornographic, paedophilic, libellous, invasive of
              another's privacy, hateful, or racially, ethnically objectionable, or disparaging;
            </li>
            <li>be false or misleading;</li>
            <li>distribute or contain spam, chain letters, or pyramid schemes;</li>
            <li>• distribute viruses or any other technologies that may harm
              Serdo or the interests or property of Serdo users;
            </li>
            <li>impose an unreasonable load on our infrastructure or
              interfere with the proper working of Serdo;
            </li>
            <li>copy, modify, or distribute any other person's content
              without their consent;
            </li>
            <li>harvest or otherwise collect information about others,
              including email addresses, without their consent;
            </li>
            <li>contact anyone who has asked not to be contacted;</li>
            <li>collect personal data about other users for commercial or
              unlawful purposes;
            </li>
            <li>post non-local or otherwise irrelevant Content, repeatedly
              post the same or similar Content, or otherwise impose an unreasonable or disproportionately large load on
              our infrastructure;
            </li>
            <li>post the same item or service in more than one classified category or forum, or in more than one
              metropolitan area; or
            </li>
            <li> attempt to gain unauthorized access to Serdo's computer systems or engage in any activity that disrupts,
              diminishes the quality of, interferes with the performance of, or impairs the functionality of, the Service
              or the Serdo website.
            </li>

          </ul>


          <h2 style="text-align: center">Sending Emails</h2>
          <b> The following content is prohibited to be included with specific reference to email messages sent using our
            email platform:</b>
          <ul>
            <li>Messages that are unrelated to the advert concerned</li>
            <li>Spamming and the sending of several identical messages</li>
            <li>Hate messages or those which are intended to insult</li>
            <li>Messages referring to illegal, racist, sectarian, paedophile
              practices (this list is not exhaustive)
            </li>
          </ul>
          <h2 style="text-align: center">Exposure to Content</h2>
          <b> You understand that:</b>
          <ul>
            <li>&nbsp;All listings, messages, comments, files, images, photos, videos and all other materials ("Content") posted
              on, transmitted through, or linked from Serdo, are the sole responsibility of the person from whom such
              Content originated.
            </li>
            <li>You are entirely responsible for all Content that you upload, email or otherwise make available via
              Serdo.
            </li>
            <li> &nbsp;&nbsp;Serdo does not control and is not responsible for Content made available through the website. You may be
              exposed to Content that is offensive, indecent, inaccurate, misleading, or otherwise objectionable.
            </li>
            <li>&nbsp;&nbsp; The Serdo site and Content available through the website may contain links to other websites, which are
              completely unrelated to Serdo. Serdo makes no representation or guarantee as to the accuracy or
              authenticity of the information contained in any such site. Linking to any other websites is entirely at
              your own risk.
            </li>
            <li>&nbsp;&nbsp;You must evaluate and bear all risks associated with the use of any Content.</li>
            <li> &nbsp;&nbsp;Serdo is a free classified website providing advertising space in which some categories are paid
              options. Serdo solely sells advertising spaces and does not take a commission of the user's earning.
            </li>
            <li> &nbsp;Under no circumstances will Serdo be liable in any way for Content or for any loss or damage of any kind
              incurred as a result of the use of any Content listed, emailed or otherwise made available via the Service.
            </li>
          </ul>
          <h2 style="text-align: center">Paid for Advertising</h2>
          <p>&nbsp;&nbsp;&nbsp;Posting an ad on Serdo is generally free but there are certain services you can pay for. If you decide to
            take advantage of the paid for advertising service you'll be able to review and accept terms that will be
            clearly disclosed at the time you post your ad. Serdo
            offers a different service packages for the paid posts where users may pay a non-refundable fee to have their
            ads posted in selected locations on the Website, thus potentially
            increasing an ads' visibility. The fee permits Paid Content to be posted in a designated area of the Website.
            Each party posting Paid Content to the Service is responsible for the Content and compliance with the Terms.
            Any such fees paid hereunder are non-refundable in the event any Content is removed from the Service for
            violating these Terms. Additional terms regarding Paid Content will be fully stated in the applicable
            section(s).</p>
          <h2>Dealings with Organizations and Individuals</h2>
          <ul>
            <li>&nbsp;&nbsp;You agree that your interactions with organisations and/or individuals found on or through the Service are
              solely between you and such organizations and/or individuals.
            </li>
            <li>&nbsp;&nbsp;You agree that Serdo shall not be responsible or liable for any loss or damage of any sort incurred as
              the result of any such dealings. If there is a dispute between participants on this site, or between users
              and any third party, you understand and agree that Serdo is under no obligation to become involved.
            </li>
            <li>&nbsp;&nbsp;In the event that you have a dispute with one or more other users, you hereby release Serdo, its
              officers, employees, agents and successors in rights from claims, demands and damages (actual and
              consequential) of every kind or nature, known or unknown, suspected and unsuspected, disclosed and
              undisclosed, arising out of or in any way related to such disputes and / or our service.
            </li>
          </ul>
          <h2 style="text-align: center">Termination of Service</h2>
          <b>You agree that Serdo, both immediately and without notice, has the right to:</b>
          <ul>
            <li>Delete or deactivate your account</li>
            <li>Block your email or IP address</li>
            <li>Terminate your access to or use of the Service (or any part
              thereof)
            </li>
            <li>Remove and discard any Content within the Service that has
              violated the Terms
            </li>
            <li>&#9;Further, you agree that Serdo shall not be liable to you or
              any third-party for any termination of your access to the Service and that you will not attempt to use the
              Service after said termination.
            </li>
          </ul>
          <p>&#9;Our policies are designed to create a safe and fair environment for everyone using Serdo. Learning what's
            allowed can help you avoid unintentionally breaking the rules and helps everyone have a great experience.</p>
          <h2 style="text-align: center">Posting an Advert on Serdo</h2>
          <p>&#9;Adverts that do not comply with our terms will be removed from the site. This list is not exhaustive and
            Serdo reserves the right to remove any advert without warning or other notification. Any advert we suspect of
            being spam or fraudulent will be removed.</p>
          <b>The following is forbidden on Serdo.com:</b>
          <ul>
            <li>&#9;Posting of multiple ads whose content is identical or similar. You may only post a maximum of one ad for
              the same item or service per local area
            </li>
            <li>Proposal of several goods or services in the same advert that are not related</li>
            <li>Publishing an ad that is too short or ambiguous. This could result in an ad being classified as spam</li>
            <li>Posting an ad whose purpose is regulated or prohibited by law</li>
            <li>Using the details (name, phone number, mailing address, email, photos, etc) of someone else without their
              permission or providing false contact details
            </li>
            <li>Revealing elements of a private nature or violating the privacy of any person or company (including the
              publication of faces or signatures)
            </li>
            <li>Publishing an ad in the wrong category or subcategory</li>
            <li>Children: Use of this site is prohibited to anyone under the
              age of 18
            </li>
            <li>&nbsp;&nbsp;Promoting a website (you can only include a link on your ad
              if it provides more information about the product you are
              selling)
            </li>
            <li>&nbsp;Making remarks that are false, defamatory, profane, hateful,
              abusive, pornographic, obscene or of any inappropriate
              nature (left to our discretion)
            </li>
            <li>&nbsp;Any advertisement or message containing a virus or other
              contaminating or destructive agent that prevents the proper operation of this site or access to this site by
              our user
            </li>
          </ul>
          <p>&nbsp;We recommend you purchase a featured ad if you wish national coverage. For more information of Featured
            Adverts please <a href="https://Serdo.com">click here</a></p>
          <h2 style="text-align: center">Buy and Sell</h2>
          <b>The following are prohibited to be advertised with specific reference to the Buy & Sell category:</b>
          <ul>
            <li>Illegal and stolen goods, drugs or related materials</li>
            <li>&nbsp;&nbsp;Dangerous objects such as guns, pistols, paintballs, gas,
              explosives or any item that is intended to cause purposeful
              harm (this list is not exhaustive)
            </li>
            <li>Blood products, body fluids, organs and other body products</li>
            <li>Insignia and uniform of police or other official insignia and
              uniforms
            </li>
            <li>Counterfeit goods, replicas, unauthorized copies</li>
            <li>Tobacco and Alcohol</li>
            <li>Used Lingerie</li>
          </ul>
          <h2 style="text-align: center">Employment</h2>
          <b>The following are prohibited to be advertised with specific reference to the Employment category:</b>
          <ul>
            <li>&nbsp;&nbsp;All Job ads that announce several positions in one ad will be
              deleted after 24h of their posting and no refund will be given. Within the first 24h of the posting, the
              user can edit the
              multiple-position ad to reduce it to one position. If the ad does not get edited to fulfill Serdo's
              requirements, the ad will
              be deleted and no refund given.
            </li>
            <li>Pyramid schemes and multi-level marketing
            </li>
            <li>Adult jobs including hostess, adult webcam (this list is non-
              exhaustive)
            </li>
            <li>Any job whose function is not clearly specified</li>
            <li>Adverts without a business name, salary or explicit and detailed description of the proposed job</li>
          </ul>
          <h2 style="text-align: center">CV Search / Jobs Wanted</h2>
          <ul>
            <li>Serdo is not responsible for the information posted by the job seekers in the Jobs Wanted section or in
              their CV's.
            </li>
            <li>The CV Search is a form of head hunting, it allows recruiters to look through the CV's in our database.
              However, some of the applicants may or may not match the job position you
              are looking to fill.
            </li>
            <li>Any fees paid are non-refundable once the package is
              used.
            </li>
            <li>The duration of the CV Search cannot be extended.</li>
            <li>By placing a job seeking ad in the Jobs Wanted section, the
              recruiter will have access to the CV uploaded to the job
              seeker's profile.
            </li>
            <li>Once an applicant uploads their CV to their profile, it will be
              added to our database where recruiters will have access to it for 3 months.
            </li>
          </ul>
          <h2 style="text-align: center">Services</h2>
          <b>The following are prohibited to be advertised with specific reference to the Services category:</b>
          <ul>
            <li>
              Requesting / offering financing or loans between individuals
            </li>
            <li>
              Castings (photos, videos) with an erotic or pornographic
              view
            </li>
            <li>Tantric massage</li>
          </ul>
          <br>
          <br></div></mat-card></mat-tab>
    <mat-tab label="Tips"><mat-card>
      <h2>Safety Tip for buying & Selling</h2>
      <p>We take all the necessary precautions to ensure that our platform is a safe place for sellers and buyers to
        transact. However, since we are not involved in the actual transactions, we offer these key tips to stay safe.
        Serdo.COM connects users who wish to buy, rent or sell physical goods (for example real estate, cars and
        furniture) ("Services"). Serdo users pay for and consume these physical goods offline. In our quest to become
        more customer centric and increase trust and transparency for our users, Serdo.com also offer other services
        such as car inspections, and photography services. The Serdo website at www.Serdo.com and the mobile
        application of the online platform (collectively the "Website" or "Platforms") are used to connect buyers and
        sellers and are owned by Serdo.com</p>
      <p>To help us constantly improve your safety and experience, please report any suspicious posts and interactions
        to us on 0-944499999 or email ....
      </p>
      <ul><li>
        Insist on inspecting the product before buying it
      </li>
        <li>Meet the seller in a public place</li>
        <li>Inquire about delivery before you make your purchase</li>
        <li>It is safest to contact the seller through the provided Contact Seller
          section on the listing. This way we have your contact information and
          can contact you should we track fraudulent behavior.</li>
        <li>Only make the payment upon receipt of the product</li>
      </ul>
      <h2>Safety Tips for Buyers</h2>
      <h3>Communication</h3>
      <ul>
        <li>Insist on speaking directly to the seller on the phone. Most online scams are conducted via email
          or SMS only.</li>
        <li>Speak to the seller more than once. Confirm their telephone number so that you can call back with
          follow up questions</li>
      </ul>
      <h3>Look out for:</h3>
      <ul><li>Advertised products with prices that are significantly below the market value. If the deal sounds too
        good to be true, it probably is.</li>
        <li>The registration plate, car identification and engine numbers match the information in any paperwork or
          insurance documentation.</li>
        <li>For properties and others, any legal information and paper documents from the government office</li></ul>
      <h3>Never:</h3>
      <ul>
        <li>Send money through a wire transfer or mobile banking service to people you do not know or trust.</li>
        <li>Send your personal or financial details to a seller.</li>
        <li>Agree to go on a test drive in an area you do not know. Insist on
          meeting in a safe well location. Preferably where CCTV is available and agree the route of a
          test drive beforehand.</li>
      </ul>
      <h2>
        Safety Tips for Car Sellers</h2>
      <h3>Communication:</h3>
      <ul><li>
        Insist on speaking directly to the buyer on phone. Most online scams
        are conducted via email or SMS only.
      </li></ul>
      <h3>Look out for buyers who:</h3>
      <ul>
        <li>Hurriedly make an offer before inspecting the vehicle, genuine buyers are thorough before
          making any offer.</li>
        <li>Make an offer that is higher than the set price in the pretense that they want to buy quickly.
          A genuine buyer will
          always want the best price they can get.</li>
        <li>Claim to be agents buying on behalf of someone else or for export.</li>
        <li>Ask that you pay additional charges like shipping, agent fees or
          custom charges.</li>
      </ul>
      <h3>Never:</h3>
      <ul><li>Share your personal details, account details, M-birr details or banking information.</li>
        <li>Share your Serdo login credentials.</li>
        <li>Reveal the current location of the product/service.
        </li></ul>
      <h3>Closing the Deal;
      </h3>
      <ul><li>Know how much you're willing to accept and prepare to negotiate to a minimum price.</li>
        <li>Don't take your ad down until you are certain you have received payment from the buyer - it won't cost you
          anything to have it up longer.</li>
        <li>Don't rely on "proof" of payment from the buyer. Check with your bank or other provider that the
          money has been
          cleared and you can see the funds in your account before parting with your item.</li>
        <li>Only accept cash inside the premises of your bank where potential fakes can be checked or so you do not carry
          large amounts of cash in public after a sale.</li>
        <li>Beware of forged bank cheques. Electronic transfers which can be confirmed by your bank are the
          safest option. A genuine buyer will never object.</li>
        <li>Give the buyer a receipt to confirm you've received their payment.
        </li>
        <li>Insist on a receipt from the buyer confirming delivery of your
          product/service.</li></ul>
      <span style="background-color:rgb(250,172,51);text-align: center"><strong >"Please note that Serdo will NEVER contact you to ask you for account or
      personal details."</strong>
 </span>
      <br>
      <br>
    </mat-card>
    </mat-tab>
    <mat-tab label="Help center">
      <mat-card>


        <h1>FAQ</h1>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-panel-title>

            </mat-panel-title>
            signing up on Serdo is now a very simple process. It takes only 1 minutes to
            sign up and post your Ads
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                1 &nbsp;&nbsp; How do I sign up on Serdo?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <p> &nbsp; &nbsp;signing up on Serdo is now a very simple process. It takes only 1 minutes to
              sign up and post your Ads</p> <br>
            <strong> Step 1: </strong>Click “Post Ad” tab in the top corner of the website <br>
            <strong> Step 2:</strong> Please select your Sign Up option You can enter your details correctly <br>
            <img src="../../../../assets/images/signUp.png" height="200px" width="200px"/><br>
            <!--      <ul>-->
            <!--        <li><input placeholder="name" matInput apperance="outline"></li>-->
            <!--        <li> <input placeholder="phone number" matInput></li>-->
            <!--        <li><input placeholder="password" matInput ><input placeholder="confirm password" matInput></li>-->
            <!--      </ul>-->
            <strong>  Step 3:</strong>Once you submit the above information, you will be directed to Mobile verification page.

            <p>Once the verification is done through, you become a registered user of the site and can post Ads and manage
              your Ads.</p>
            <p>Once signed up you can now use your credentials to sign up by entering you phone number as Serdo referral
              to collect credits from Serdo.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              2 &nbsp;&nbsp;Do I need to sign up to post Ads?
            </mat-expansion-panel-header>
            <p>Yes, you need to be a registered user to Post Ad on the site.</p>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              3 &nbsp;&nbsp;What are the benefits of registering on Serdo?
            </mat-expansion-panel-header>
            <ul>
              <h3>Signing up allows to you to</h3>
              <li>Post unlimited product and service Ads a day</li>
              <li>Get your own User Id</li>
              <li>Edit, delete, repost and check replies to your Ads</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              4 &nbsp;&nbsp;How should I Sign In on Serdo?
            </mat-expansion-panel-header>
            <strong>Step 1: </strong> Click “Sign In” tab in the top corner of the website <br>
            <strong> Step 2:</strong> If you have a Serdo account, enter your registered mobile number/email address
            and password to sign into your account.
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>5 &nbsp;&nbsp;How do I create password for the first time?</mat-expansion-panel-header>

            <p>You can enter numeric or alphabetical character. To ensure the security of your password, password should be in length
              of 4-16 characters. Please don’t use your birthday or simple numbers like 123456 or abcdef as password.
              Please change your password after a certain period.</p></mat-expansion-panel>

        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              6 &nbsp;&nbsp;I forgot my password. How do I get a new one?
            </mat-expansion-panel-header>
            <p>You can reclaim your password if you have forgotten it.</p>
            <strong>Step 1:</strong>
            Click “Forgot your password?” on the Sign In panel and it will display a page to “Create a new Password”.<br>
            <strong>Step 2:</strong>
            Fill in your registration mobile number to get the password, and click the “Send” button.<br>
            <strong>Step 3:</strong>
            It will display a successful message: “Your password has been changed.
            A message has been sent as confirmation.<br>
            <strong>Step 4:</strong>
            In the message you receive, click on the “Change Password” to set your new password.
            After which, you can sign in and change your password. <br>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>7 &nbsp;&nbsp;How do I post an Ad?</mat-expansion-panel-header>
            <p>Posting an ad on Serdo is very easy and takes not more than 2 minutes.
              Simply follow the steps below to understand the Post Ad flow better.</p>
            <strong>Step 1:</strong>
            Click on the Post Ad button on the header of all Serdo pages.<br>
            <strong>Step 2:</strong>
            Select Category & Sub Category Choose the right category and sub-category to match the product
            or service you wish to sell or promote. For eg. If you are selling a car, then you should post your Ad in the category
            Vehicles and Sub Category Automobiles.<br>
            <strong>Step 3:</strong>
            Basic Description Section
            <span style="text-align:center;">Specify whether you are interested in selling a Product.
Make sure you fill in all the mandatory fields through the form.
Make sure you fill the product price if it is negotiable, to be imported or it is service</span>
            <p>The Title should preferably include specifics about your Product. For example, if you’re trying to sell a car, you
              need to mention the Brand, Model, Year , Mileage, Fuel Type, Locality, etc. This helps your Ad become more noticeable.</p><br>
            <strong>Step 4:</strong>
            Upload Pictures of the product
            <p>You have the option of uploading up to 5 pictures of your Product to make the Ad more attractive.
              The first image will be used as a cover photo wherever the Ad appears across the site.
            </p><br>
            <strong>Step 5:</strong>
            Product properties/Details
            <p>Give enough information of your item or service to help a
              potential buyer know more about your item and help your chances of getting quality responses.</p><br>
            <strong>Step 6:</strong> Submit <br>
            <p>To help your Ad gain more visibility you can always convert it to a Premium Ad by paying
              a small amount or you can finish without selecting the ad packages.</p>
            <h2>7.1 Is it mandatory to enter the mobile number while posting an Ad?</h2>
            <p>No, mentioning your mobile number is not mandatory. However, by entering a valid mobile number you are eligible to
              receive SMS alerts for your Ad replies. These alerts help you respond faster to potential buyers.</p>
            <h2>7.2 What are SMS Alerts?</h2>
            <p>SMS Alerts help notify the Seller/ Poster of an Ad as soon as he gets a reply. An alert is sent to the Mobile
              number which you have entered at the time of Posting an Ad or Registration. You will receive SMS alerts for
              your Ads posted and replies received. You could also choose to de-activate this service using the Edit My
              Profile in My Account.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              8 &nbsp;&nbsp;How much does it cost to post an Ad on Serdo?
            </mat-expansion-panel-header>
            <p>Serdo is a free service and does not charge you any fees to post Ads. Go ahead and enjoy it.
              All Ads are subject to meeting the Terms of Use and prohibited items policy.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              9 &nbsp;&nbsp;How do I repost, reactivate or extend my Ads on Serdo?
            </mat-expansion-panel-header>
            <p>All Ads are live for 90 days on the Serdo site, post which you will get a reminder expiry mail to repost the Ad.
              The user can repost his expired Ad from either the repost link in the mail or from Expired Ads Management
              link under the Manage My Ads tab in My Account.</p>
            <h2>9.1 &nbsp;&nbsp;Is there any limit on Posting Ads?</h2>
            <p>You can post as much as you want different Ads daily.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>10 &nbsp;&nbsp;How do I know if someone is interested or owas replied to my Ad?</mat-expansion-panel-header>
            <p>If you put your phone number, the interested parties can directly contact you. Users also have the option to
              contact you product review box and you can contact them too. You can give your contact details only if you wish
              to do so in the ad description area of the post ad page.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel> <mat-expansion-panel-header>
            11 &nbsp;&nbsp;How can I post a Good Ad on Serdo and get better responses?
          </mat-expansion-panel-header>
            <p>To increase the chance of getting a good response, follow these simple tips.</p>
            <p><strong>Title - </strong>A good title will attract more visitors to your Ad. Mention important
              keywords in title.</p>
            <dl>
              <dt>Description - To get people interested, follow these simple tips</dt>
              <dd>Make the description as detailed as possible</dd>
              <dd>Make it easy for buyers to pick up the item by mentioning the location of the item</dd>
              <dd>and when you would be available</dd>
              <dd>Upload images – included up to 5 pictures to enhance your Ad</dd>
              <dd>Add contact information</dd>
            </dl>
            <p>Use these tips and other innovative ideas to make your Ad more attractive and increase your chances of
              getting replies. In addition you can also subscribe to Serdo Ad Packages.</p>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>12 &nbsp;&nbsp;How long do Ads stay after being posted on Serdo?</mat-expansion-panel-header>
            <p>Ads stay live on the site for 90 days after which they expire automatically and are not displayed as a part of the
              live ads on site. You will get Ad Expiry reminders before 5 days and before 24 hours of the Ad expiry date. You can
              extend your Ad duration by reposting your ads after its expiry, from My Account. You can even delete your Ad.</p>
          </mat-expansion-panel>

        </mat-accordion>






        <br>
        <br>
        <br>

      </mat-card>
    </mat-tab>

  </mat-tab-group>
</div>







