<div fxLayout="column" class="container">
  <div fxLayout="row" style="justify-content:space-around">
    <img src="/assets/yenabus.png" style="width: 60px; height:80px; align-self: center; padding-top: 1rem; padding-bottom: 0.3rem; border-radius:50%;" alt=""/>
     <div fxLayout="column" style="margin-bottom: 1rem;">
       <mat-card-title style="font-size: 1.5em; font-weight:700; text-align: center; ">Muluken Bogale</mat-card-title>
       <mat-card-title style="font-size: 1.5em; font-weight:400; text-align: center; padding-top:0.4em">+251986088963</mat-card-title>
     </div>
  </div>
  <mat-divider  class="mat-divider" ></mat-divider>
</div>
