<!--<div style="text-align: center">-->
<!--  <h1 style="font-size:24px">Entered Passengers Information.</h1>-->
<!--</div>-->
<!--<div fxLayout="row" style="margin: 16px">-->
<!--  <ng-container *ngFor="let d of data.passengers">-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <p style="font-size: medium">Passengers 1</p>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div fxLayout="row">-->
<!--      <p class="name">Full Name: </p>-->
<!--      <p class="value">Muluken Bogale</p>-->
<!--    </div>-->
<!--    <div fxLayout="row">-->
<!--      <p class="name">Phone Number: </p>-->
<!--      <p class="value">+251986088963</p>-->
<!--    </div>-->
<!--    <div fxLayout="row">-->
<!--      <p class="name">Boarding: </p>-->
<!--      <p class="value">Megenagn</p>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</div>-->
<h1 mat-dialog-title style="text-align:center; font-size:32px">Entered passengers information</h1>
<mat-dialog-content class="mat-typography" style="padding:1rem 2rem; border-radius: 4rem;">

<h1 mat-dialog-title style="text-align:center; font-size:32px">{{'Entered passengers information'| translate}}</h1>
<mat-dialog-content class="mat-typography" style="padding:2rem 4rem; border-radius: 4rem;">
  <ng-container *ngFor="let passanger of data.passenger.passengers let i = index" >
  <h3 style="text-align: center">{{'passenger'| translate}} {{i+1}}</h3>
  <div fxLayout="row">
    <h2 class="name">{{'Full Name'| translate}}: </h2>
    <h2 class="value">{{passanger.name}}</h2>
  </div>
  <div fxLayout="row">
    <h2 class="name">{{'Phone Number'| translate}}: </h2>
    <h2 class="value">{{passanger.phone}}</h2>
  </div>
  </ng-container>
  <mat-dialog-actions align="end">
    <a [mat-dialog-close]="true" cdkFocusInitial mat-flat-button color="primary">Proceed to Payment</a>
  </mat-dialog-actions>
</mat-dialog-content>


