<form [formGroup]="passengerInfoFormGroup" [class.loading]="loading">
  <ng-container *ngFor="let userFormGroup of passengers.controls; let i = index">
    <h4>{{'Passenger'| translate}} {{i+1}}</h4>
    <div [formGroup]="userFormGroup" fxLayout="row">
      <div class="passenger-input-container">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix color="accent">person</mat-icon>
          <mat-label>{{'Full name'| translate}}</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>
      </div>
      <div class="passenger-input-container">
        <mat-form-field appearance="outline">
          <mat-label>{{'Phone'| translate}}</mat-label>
          <ngx-mat-intl-tel-input
            inputPlaceholder="911111111"
            [preferredCountries]="['et', 'us']"
            [enablePlaceholder]="true"
            [enableSearch]="true"
            name="phone"
            formControlName="phone">
          </ngx-mat-intl-tel-input>
        </mat-form-field>
      </div>
    </div>
    <div [formGroup]="userFormGroup" class="passenger-input-container">
      <mat-radio-group required formControlName="busStop">
        <ng-container *ngFor="let t of trip?.route.leavingFrom.busstopSet.edges">
           <mat-radio-button class="boarding-check-box" value={{t.node.id}}>{{t.node.name}}</mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
  </ng-container>
<!--  <div fxLayout="row-reverse">-->
<!--    <button mat-flat-button color="primary" (click)="openDialog()">Preview and Submit</button>-->
<!--  </div>-->
</form>

