<mat-toolbar color="primary" style="z-index: 10000">
  <app-top-nav [drawer]="drawer" style="width: 100%"></app-top-nav>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false">
   <app-side-nav></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div style="max-width: 1400px; margin:auto" >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


