<div fxLayout="column">
  <div fxLayout="row" style="margin: 1em; justify-content: space-between">
    <h1 style="text-align: center">Ticketers</h1>
    <button mat-flat-button color="primary" (click)="addTicketer()">Add ticketer</button>
  </div>
  <mat-card>
    <app-users-table [ticketerCarrierId]="ticketerCarrierId" [ticketOffice]="ticketOfficeId" #usersTable>
      <ng-template let-row>
        <button mat-icon-button (click)="removeTicketer(row)" color="warn"><mat-icon>delete</mat-icon></button>
        <button mat-icon-button [routerLink]="'tickets/'+row.id">Tickets <mat-icon>launch</mat-icon></button>
      </ng-template>
    </app-users-table>
  </mat-card>
</div>

