<div fxLayout="row" style="max-width: 900px; margin: auto">
  <div fxLayout="column">
    <img src="/assets/yenabus.png" style="width: 60px"/>
    <p>{{trip?.carrier.name}}</p>
  </div>
  <div fxLayout="column" style="margin-left: 2em">
    <app-trip-datetime [trip]="trip"></app-trip-datetime>
    <p>{{trip?.busSeatConfiguration.busseatconfigurationseatSet.edges.length | json}} seats</p>
  </div>

  <span class="spacer"></span>
  <div fxLayout="column">
    2345 ETB
    <ng-content select="[buttons]"></ng-content>
  </div>
</div>
