<div fxLayout="row" style="max-width: 900px; margin:auto" *ngIf="!loading">
  <div fxLayout="column" style="margin-left: 2em">
    <app-carrier-tumb *ngIf="trip" [carrier]="trip?.carrier"></app-carrier-tumb>
    <app-trip-datetime [trip]="trip" style="margin-top: 1.5em"></app-trip-datetime>
    <div style="margin-top: 1.5em">
      <i style="background: #fff1ff; color: #12005e; padding: .3em 1em; margin: 2em; border-radius: 6px">{{trip?.busSeatConfiguration.busseatconfigurationseatSet.edges.length | json}}
        seats</i>
    </div>
  </div>
  <span class="spacer"></span>
  <div fxLayout="column" style="justify-content: space-between;">
    <div fxLayout="row-reverse">
      <app-price [price]="trip?.price"></app-price>
    </div>
    <ng-content select="[buttons]"></ng-content>
  </div>
</div>

<!--   shimmer-->

<div fxLayout="row" style="max-width: 900px; margin:auto" *ngIf="loading">
  <div fxLayout="column" style="margin-left: 2em">
    <app-carrier-tumb [loading]="true"></app-carrier-tumb>
    <div fxLayout="row" style="align-items: center">
      <div fxLayout="column" class="time-city-container">
        <app-custom-shimmer [width]="60" height="16"></app-custom-shimmer>
        <app-custom-shimmer [width]="120" height="14"></app-custom-shimmer>
        <app-custom-shimmer [width]="60" height="16" [style]="'margin-top: 8px;'"></app-custom-shimmer>
      </div>
      <app-custom-shimmer [width]="45" height="2"></app-custom-shimmer>
      <app-custom-shimmer [width]="30" height="16"></app-custom-shimmer>
      <app-custom-shimmer [width]="45" height="2"></app-custom-shimmer>
      <div fxLayout="column" class="time-city-container">
        <app-custom-shimmer [width]="60" height="16"></app-custom-shimmer>
        <app-custom-shimmer [width]="120" height="14"></app-custom-shimmer>
        <app-custom-shimmer [width]="60" height="16" [style]="'margin-top: 8px;'"></app-custom-shimmer>
      </div>
    </div>
    <div>
      <app-custom-shimmer [width]="40" height="18"></app-custom-shimmer>
    </div>
  </div>

  <span class="spacer"></span>
  <div fxLayout="column">
    <div fxLayout="row-reverse">
      <app-custom-shimmer [width]="40" height="18"></app-custom-shimmer>
    </div>
    <app-custom-shimmer [width]="60" height="22"></app-custom-shimmer>
  </div>
</div>
