.weak-day-btn {
  margin-bottom: 16px;
  padding: 4px;
  background: whitesmoke;
  width: 24px;
  border-radius: 16px;
}

.weak-day-num{
  margin: 0;
  padding: 0;
  height: 24px;
  font-weight: 700;
}
.weak-day-name{
  margin: 0;
  padding: 0;
  height: 32px;
}
