<div class="width60">
  <mat-card>
    <app-passengers-info-form
      [trip]="trip"
      [selectedSeats]="selectedSeats"
      [(passengerInfo)]="passengerInfo"></app-passengers-info-form>
  </mat-card>

  <div fxLayout="row" style="justify-content: space-between; margin-top: 1.5em">
    <mat-card>
      <h3>
        Price <app-price [price]="trip?.price * selectedSeats.length"></app-price>
      </h3>
    </mat-card>
    <button mat-flat-button color="primary" (click)="bookTicket()">Book Ticket</button>
  </div>
</div>
