<div fxLayout="row" style="align-items: center">
  <div class="time-city-container" fxLayout="column">
    <span class="mat-card-subtitle">{{trip?.route.leavingFrom.name}}</span>
    <span class="time">{{trip?.departureTime | date:'shortTime'}}</span>
    <span>{{trip?.departureTime| date: 'fullDate'}}</span>
  </div>
  <span class="duration text-secondary" style="color: lightblue; min-width: 25%;text-align: center;font-size: 1em;">4h3m</span>
  <div class="time-city-container" fxLayout="column">
    <span class="mat-card-subtitle">{{trip?.route.destination.name}}</span>
    <span class="time">{{trip?.arrivalTime | date:'shortTime'}}</span>
    <span>{{trip?.departureTime| date: 'fullDate'}}</span>
  </div>
</div>
