<div class="mat-elevation-z0">
  <div style="float: right;">
    <button mat-flat-button color="primary" (click)="generateReport()" style="margin: 16px">Generate Trip List</button>
  </div>
  <table id="trip-table" mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="carrier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Carrier</th>
      <td mat-cell *matCellDef="let row">{{row.carrier.name}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="departureTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Departure Time</th>
      <td mat-cell *matCellDef="let row">{{row.departureTime | date:'medium'}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="leavingFrom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Leaving From</th>
      <td mat-cell *matCellDef="let row">{{row.route.leavingFrom.name}}</td>
    </ng-container>
    <!-- Id Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
      <td mat-cell *matCellDef="let row">{{row.route.destination.name}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
