<div fxLayout="column">
  <div style="padding-top: 20px">
    <app-trip-search-form
      layout="row"
      [input]="tripSearchQuery"
      (formSubmit)="searchChanged($event)"
      (formChanged)="searchChanged($event)"
    >
    </app-trip-search-form>
  </div>
  <div class="width60">
      <app-trip-list
        [leavingFrom]="tripSearchQuery.leavingFrom"
        [destination]="tripSearchQuery.destination"
        [departureDate]="tripSearchQuery.departureDate"
      >
      </app-trip-list>
    </div>
</div>
