<div fxLayout="column">
  <mat-card style="padding-top: 20px">
    <app-trip-search-form
      layout="row"
      [input]="tripSearchQuery"
      [hideDateInput]="true"
      [orientation]="(isHandset$| async)?'vertical': 'horizontal'"
      (formSubmit)="searchChanged($event)"
      (formChanged)="searchChanged($event)"
    >
    </app-trip-search-form>
  </mat-card>
  <div class="width60">
    <app-trip-list
      [leavingFrom]="tripSearchQuery?.leavingFrom"
      [destination]="tripSearchQuery?.destination"
      [departureDate]="tripSearchQuery?.departureDate"
    >
    </app-trip-list>
  </div>
</div>
