@use "~@material/typography/mdc-typography";
@import '~@angular/material/theming';

@include mat-core();

$busWeb-primary: mat-palette($mat-green, 400);
$busWeb-accent: mat-palette($mat-pink, A200, A100, A400);
$busWeb-warn: mat-palette($mat-red);

$busWeb-theme: mat-light-theme((
  color: (
    primary: $busWeb-primary,
    accent: $busWeb-accent,
    warn: $busWeb-warn,
  )
));

@include angular-material-theme($busWeb-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
);

@include mat-base-typography($custom-typography);
@include mat-checkbox-typography($custom-typography);
@include angular-material-typography($custom-typography);

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif;}
.spacer {
  flex: 1 1 auto;
}
.mat-card:not([class*=mat-elevation-z]){
  @include mat-elevation(16, #eee, .8);
}
.mat-toolbar.mat-primary{
  background: white;
}
h1,.mat-h1,.mat-headline{
  font-family: 'Redressed', cursive;
}

  .mat-flat-button.mat-primary {background-image: linear-gradient(to right, #02AAB0 0%, #00cdac 51%, #02AAB0  100%)}
.mat-flat-button.mat-primary {
  font-weight: 600;
  padding: 3px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
}

.mat-flat-button.mat-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.mat-dialog-container{
  overflow-x: hidden !important;
}

.mat-flat-button.mat-primary.mat-button-disabled {
  opacity: .4;
}
.mat-flat-button.mat-primary.mat-button-disabled:hover {
  background-position: center center; /* change the direction of the change here */
  color: gray;
  text-decoration: none;
}
@mixin clip{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-purple{
  background-image: linear-gradient(to right, #9733EE 0%, #DA22FF  100%);
  @include clip
}

.gradient-blue{
  background-image: linear-gradient(to top right, #4776E6 0%, #8E54E9  100%);
  @include clip
}

.gradient-green{
  background-image: linear-gradient(to top right, #1D976C  0%, #93F9B9  100%);
  @include clip
}

.gradient-yellow{
  background-image: linear-gradient(to top right, #C02425  0%, #F0CB35  100%);
  @include clip
}

.gradient-gray{
  background-image: linear-gradient(to top right, #bdc3c7  0%, #2c3e50  100%);
  @include clip
}


.gradient-pink{
  background-image: linear-gradient(to top right, #ec008c  0%, #fc6767  100%);
  @include clip
}

// layout

.width60{
  width: 60%;
  margin: 2em auto;
}
@media( max-width: 1200px){
  .width60{
    width: 100%;
  }
}

@keyframes loading-animation {
  0%   {
    background-image:
      linear-gradient(
          to right,
          rgba(250,250, 250, 1),
          rgba(240,240, 240, 1) 0%
      );
  }
  25%  {
    background-image:
      linear-gradient(
          to right,
          rgba(250,250, 250, 1),
          rgba(240,240, 240, 1) 25%
      );
  }
  50%  {
    background-image:
      linear-gradient(
          to right,
          rgba(250,250, 250, 1),
          rgba(240,240, 240, 1) 50%
      );
  }
  100% {
    background-image:
      linear-gradient(
          to right,
          rgba(250,250, 250, 1),
          rgba(240,240, 240, 1) 100%
      );
  }
}
.shimmer {
  background-color: rgba(240,240, 240, 1);
  animation-name: loading-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.loading{
  opacity: 0.4;
  pointer-events: none;
  cursor: wait;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

body{
  overflow: hidden;
}
