<div fxLayout="column">
  <div fxLayout="row" style="justify-content: center">
    <h1>{{carrier?.name}}</h1>
    <app-custom-shimmer width="100" height="32" *ngIf="!carrier?.name"></app-custom-shimmer>
  </div>
  <div fxLayout="row wrap" style="justify-content: space-around;">
    <app-main-stat
      iconClass="gradient-purple"
      icon="commute"
      [title]="'Trip'| translate"
      [subText]="'Carrier trips'| translate"
      routerLink="trips"
    ></app-main-stat>
    <app-main-stat
      iconClass="gradient-green"
      icon="directions_bus"
      [title]="'Buses'| translate"
      [subText]="'Manage buses'| translate"
      routerLink="buses"
    ></app-main-stat>
    <app-main-stat
      iconClass="gradient-yellow"
      icon="attach_money"
      [title]="'Payments'| translate"
      [subText]="'Manage payments'| translate"
      routerLink="payments"
    ></app-main-stat>
    <app-main-stat
      iconClass="gradient-blue"
      icon="confirmation_number"
      [title]="'Tickets'| translate"
      [subText]="'Different settings'| translate"
      routerLink="reports"
    ></app-main-stat>
  </div>
  <div fxLayout="row" style="justify-content: space-between" class="row2">

    <mat-card style="flex: 2">
      <h2>{{'Recent trips'| translate}}</h2>
      <app-trips-table
        *ngIf="carrier"
        [displayedColumns]="['departureTime', 'leavingFrom', 'destination']"
        [carrier]="carrier.id"></app-trips-table>
    </mat-card>
    <mat-card style="flex: 1; ">
      <h2>{{'Tickets chart'| translate}}</h2>
      <app-main-dashboard-chart *ngIf="carrier" [carrier]="carrier?.id"></app-main-dashboard-chart>
    </mat-card>
  </div>
  <div fxLayout="row" class="row3">
    <mat-card style="width: 100%">
      <app-links-list></app-links-list>
    </mat-card>
    <mat-card style="width: 100%">
      <app-links-list></app-links-list>
    </mat-card>
  </div>
</div>
