<div fxLayout="column">
  <form [formGroup]="tripFomGroup" (ngSubmit)="_submit()" style="margin: auto">
    <div fxLayout="row">
      <mat-form-field appearance="outline">
        <mat-label>{{'Leaving from'| translate}}</mat-label>
        <mat-select formControlName="leavingFrom" (opened)="leavingFromCitiesOpened(); searchFieldOfStudy.focus()">
          <mat-option disabled>
            <input
              type="text"
              [formControl]="leavingFromCityFilter"
              #searchFieldOfStudy
              [placeholder]="'Search'| translate"
              style="
              color: black;
              width: 95%;
              padding: .5em;
            "/>
          </mat-option>
          <mat-option *ngFor="let city of leavingFromCity" [value]="city.node.id">
            {{city.node.name}}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix color="accent">place</mat-icon>
        <mat-error *ngIf="tripFomGroup.controls['leavingFrom'].hasError('required')">
          {{'Leaving from city is required.'| translate}}
        </mat-error>
        <mat-error *ngIf="tripFomGroup.controls['leavingFrom'].hasError('leavingFrom')">
          {{'Route price is not specified!.'| translate}}
        </mat-error>
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <mat-form-field appearance="outline">
        <mat-label>{{'Destination'| translate}}</mat-label>
        <mat-select formControlName="destination" (opened)="destinationCitiesOpened(); searchFieldOfStudy.focus()">
          <mat-option disabled>
            <input
              type="text"
              [formControl]="destinationCityFilter"
              #searchFieldOfStudy
              [placeholder]="'Search'| translate"
              style="
              color: black;
              width: 95%;
              padding: .5em;
            "/>
          </mat-option>
          <mat-option *ngFor="let city of destinationCity" [value]="city.node.id">
            {{city.node.name}}
          </mat-option>

        </mat-select>
        <mat-icon matPrefix color="accent">place</mat-icon>
        <mat-error *ngIf="tripFomGroup.controls['destination'].hasError('required')">
          {{'Destination city is required.'| translate}}
        </mat-error>
        <mat-error *ngIf="tripFomGroup.controls['destination'].hasError('destination')">
          {{'Route price is not specified!.'| translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline" fxFill>
        <mat-label>{{'Departure time'| translate}}</mat-label>
        <input matInput min="7/9/2021, 11:39:26 AM"  type="datetime-local"  formControlName="departureDatetime">
        <mat-error *ngIf="tripFomGroup.controls['departureDatetime'].hasError('required')">
          {{'Departure date is required.'| translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline" fxFill>
        <mat-label>{{'Arrival time'| translate}}</mat-label>
        <input matInput type="datetime-local"  placeholder="Arrival time *" formControlName="arrivalDatetime">
        <mat-error *ngIf="tripFomGroup.controls['arrivalDatetime'].hasError('required')">
          {{'Departure date is required.'| translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Pattern</mat-label>-->
<!--        <mat-select formControlName="pattern">-->
<!--          <mat-option value="food.value">  dayliy </mat-option>-->
<!--          <mat-option value="food.value">  dayliy </mat-option>-->
<!--          <mat-option value="food.value">  dayliy </mat-option>-->
<!--          <mat-option value="food.value">  dayliy </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--      <span class="spacer"></span>-->
      <mat-form-field appearance="outline" fxFill>
        <mat-label>{{'Reputation'| translate}}</mat-label>
        <input matInput type="number" formControlName="reputation">
      </mat-form-field>
    </div>
    <div fxLayout="column" style="align-items: center">
      <mat-card
        *ngFor="let config of busSeatConfigurations$ | async"
        (click)="selectBusSeatConfiguration(config)"
        [style.border]="config == busSeatConfiguration? '2px solid green': 'none'"
        style="background: #efefef">
        <h3>{{config.node.name}}</h3>
        <app-bus-seat-configuration
          style="width: 400px"
          *ngFor="let config of busSeatConfigurations$ | async"
          [busSeatConfiguration]="config.node"></app-bus-seat-configuration>
      </mat-card>

    </div>
    <div fxLayout="row">
      <span class="spacer"></span>
      <button mat-flat-button color="primary" [disabled]="tripFomGroup.invalid" type="submit">{{'Submit'| translate}}</button>
    </div>
  </form>
</div>
