<div>
  <h1 class="mat-h1" style="margin-bottom: .4em;margin-right: 0;font-family: 'Lobster', cursive;text-align: center;">{{'Sign up'| translate}}</h1>
  <form [formGroup]="signupForm" (ngSubmit)="submit()" [class.loading-form]="isLoading">
    <div class="flex-col">
      <h3>
        <mat-error>{{error}}</mat-error>
      </h3>
      <div fxLayout="row">
        <mat-form-field appearance="outline" style="width: 49%">
          <mat-label>{{'First name'| translate}}</mat-label>
          <input matInput [placeholder]="'First name'| translate" formControlName="firstName" required>
          <mat-icon matSuffix>user</mat-icon>
          <mat-error *ngIf="signupForm.controls['firstName'].hasError('required')">
            {{'First name is required.'| translate}}
          </mat-error>
        </mat-form-field>
        <span class="spacer"></span>
        <mat-form-field appearance="outline" style="width: 49%">
          <mat-label>{{'Last name'| translate}}</mat-label>
          <input matInput [placeholder]="'Last name'| translate" formControlName="lastName" required>
          <mat-icon matSuffix>user</mat-icon>
          <mat-error *ngIf="signupForm.controls['lastName'].hasError('required')">
            {{'Last name is required.'| translate}}
          </mat-error>
        </mat-form-field>
      </div>


      <!--      <mat-form-field appearance="outline">-->
      <!--        <mat-label>Email</mat-label>-->
      <!--        <input matInput placeholder="Enter your email address" formControlName="email">-->
      <!--        <mat-icon matSuffix>user</mat-icon>-->
      <!--        <mat-error *ngIf="signupForm.controls['email'].hasError('required')">-->
      <!--          Either email or phone number is required.-->
      <!--        </mat-error>-->
      <!--        <mat-error *ngIf="signupForm.controls['email'].hasError('exist')">-->
      <!--          This email already exists.-->
      <!--        </mat-error>-->
      <!--        <mat-error *ngIf="signupForm.controls['email'].hasError('email')">-->
      <!--          Invalid email address.-->
      <!--        </mat-error>-->
      <!--      </mat-form-field>-->

      <mat-form-field appearance="outline" fxFill>
        <mat-label>{{'Phone number'| translate}}</mat-label>
        <input matInput [placeholder]="'Enter your phone number'| translate" formControlName="phone" required>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="signupForm.controls['phone'].hasError('required')">
          {{'Phone number is required.'| translate}}
        </mat-error>
        <mat-error *ngIf="signupForm.controls['phone'].hasError('exist')">
          {{'This phone number already exist'| translate}}
        </mat-error>
        <mat-error *ngIf="signupForm.controls['phone'].hasError('pattern')">
          {{'Invalid phone number.'| translate}}
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" id="password">
        <mat-form-field appearance="outline" style="width: 49%">
          <mat-label>{{'Password'| translate}}</mat-label>
          <input matInput minLength='6' type="password" [placeholder]="'Enter your password'| translate" formControlName="password" required>
          <mat-icon matSuffix>key</mat-icon>
          <mat-error *ngIf="signupForm.controls['password'].hasError('required')">
            {{'Password is required.'| translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.controls['password'].hasError('minLength')">
            {{'Password must be more than 6 characters'| translate}}
          </mat-error>
        </mat-form-field>
        <span class="spacer"></span>
        <mat-form-field appearance="outline" style="width: 49%;">
          <mat-label>{{'Confirm Password'| translate}}</mat-label>
          <input matInput type="password" [placeholder]="'Confirm password'| translate" formControlName="confirmPassword" required>
          <mat-icon matSuffix>key</mat-icon>
          <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('required')">
            {{'Confirm password is required.'| translate}}
          </mat-error>
          <mat-error *ngIf="signupForm.controls['confirmPassword'].hasError('match')">
            {{'Confirmation doesn\'t match.'| translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" style="margin-top: .5em">
        <span class="spacer"></span>
        <button mat-flat-button (click)="close.emit()">{{'Cancel'| translate}}</button>
        <button mat-flat-button type="submit" color="primary" [disabled]="signupForm.invalid">{{'Sign up'| translate}}</button>
      </div>
    </div>
  </form>
</div>
<!--<div *ngIf="step == 2">-->
<!--  <app-confirm-user (finish)="finish()" (confirmed)="finish()" [user]="registeredUser"></app-confirm-user>-->
<!--</div>-->

